p {
    font-family: Verdana, sans-serif;
    font-size:14px;
    color: white;
}

label {
    font-family: Verdana, sans-serif;
    font-size:14px;
    color: white;
}

button {
    cursor: pointer;
    font-family: Verdana, sans-serif;
    font-size:14px;
}

input {
    font-family: Verdana, sans-serif;
    font-size:14px;
}

.background-dark {
    background-color: #262626;
}
.background-blue {
    background-color: blue;
}
.background-black {
    background-color: #000000;
}

.center {
    display: flex;
    justify-content: center;
}

.margin-top {
    margin-top: 30px;
}

.timer {
    font-size: 60px;
    color: white;
    font-family: Arial, sans-serif;
    user-select: none;
}

.btn-container {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    cursor: pointer;
}

.btn {
    background: #ffb400;
    border: #ffb400 solid 1pt;
    border-radius: 12px;
    width: 163px;
    height: 46px;
    padding: 5px 0px;
    text-align: center;
    font-size: 38px;
    font-weight: bold;
    color: #000000;
    font-family: Calibri, serif;
    user-select: none;
    display: none;
    box-shadow: 2px 3px 0 #f3c45d;
}
.btn:active {
    box-shadow: none;
    text-shadow: #ffb400;
    position: relative;
    top: 3px;
    left: 2px;
}

.btn-reset {
    margin-top: 12px;
    margin-bottom: 12px;
}

.btn-enter {
    margin-top: 12px;
    margin-bottom: 12px;
    margin-left: 6px;
}

label {
    margin-left: 6px;
}
