body {
    background-color: #000000;
}

.container {
    display: flex;
    height: 100%;
    padding: 24px;
    position: static;
}

.control-side {
    width: 30%;
    min-width: 320px;
    padding: 24px;
    margin-top: 96px;
}

.display-side {
    position: absolute;
    left: 38%;
    padding: 24px;
    min-width: 320px;
}

p, span {
    font-family: Verdana, sans-serif;
    font-size:14px;
    color: white;
}

form {
    margin-left: 42px;
}

.form-title {
    margin-right: 12px;
    margin-bottom: 8px;
    margin-top: 24px;
}

input[type=number] {
    width: 42px;
}

label {
    font-family: Verdana, sans-serif;
    font-size:14px;
    color: white;
    display: inline-block;
    min-width: 62px;
}

button {
    cursor: pointer;
    font-family: Verdana, sans-serif;
    font-size:14px;
    background: #f9e1ae;
    transition-duration: 0.3s;
    border-color: #f9e1ae;
    border-radius: 8px;
    padding-left: 8px;
    padding-right: 8px;
}

button:hover{
    background-color: #ffb400;
    border-color: #d4a847;
}

input:hover {
    border-color: #d4a847;
}

input {
    font-family: Verdana, sans-serif;
    font-size:14px;
    background: #f9e1ae;
    border-radius: 8px;
    padding-left: 6px;

}

.center {
    display: flex;
    justify-content: center;
}

.margin-top {
    margin-top: 30px;
}

.timer {
    font-size: 60px;
    color: white;
    font-family: Arial, sans-serif;
    user-select: none;
}

.button-container {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    cursor: pointer;
}

.btn {
    background: #ffb400;
    border: #ffb400 solid 1pt;
    border-radius: 12px;
    width: 163px;
    height: 46px;
    padding: 5px 0px;
    text-align: center;
    font-size: 38px;
    font-weight: bold;
    color: #000000;
    font-family: Calibri, serif;
    user-select: none;
    display: none;
    box-shadow: 2px 3px 0 #f3c45d;

}
.btn:hover {
    background: #ffa500;
    box-shadow: 2px 3px 0 #ffb400;
}
.btn:active {
    background: #ffa500;
    box-shadow: none;
    position: relative;
    top: 3px;
    left: 2px;
}

.btn-container {
    height: 23px;
    margin-top: 4px;
}

#btn-reset-alarm {
    margin-right: 12px;
    margin-top: 10px;
}

label {
    margin-left: 6px;
}

#lapse {
    color: #ffb400;
}

.checkmark {
    margin-left: 12px;
    color: chartreuse;
    font-size: 16pt;
    font-weight: bold;
    position: relative;
    bottom: -2pt;
}
